@import "../../../index.scss";

.Sidebar {
  z-index: 3;
  left: -300px;
  width: 300px;
  cursor: default;
  position: absolute;
  top: $HEADER_HEIGHT;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  height: calc(100vh - #{$HEADER_HEIGHT});
  padding: calc(#{$SPACE_HALF} + #{$SPACE_QUART}) 0;
  &__routes {
    display: flex;
    flex-direction: column; }
  &__logo {
    font-size: 25rem;
    text-decoration: underline;
    padding: 0 $SPACE 0 calc(#{$SPACE} + 4px);
    margin: $SPACE_HALF 0 calc(#{$SPACE_HALF + #{$SPACE_QUART}});
    &-link {
      text-decoration: none !important; } }
  &__route {
    display: flex;
    align-items: center;
    padding: $SPACE_HALF $SPACE;
    text-decoration: none !important;
    &:hover {
      background-color: #e0e0e0; }
    &-icon {
      font-size: 27rem;
      color: $TEXT_COLOR;
      margin-right: $SPACE_HALF; }
    &-text {
      font-weight: 600;
      font-size: 18rem;
      text-transform: uppercase; } } }
