.Record {
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  &__cover {
    width: 300rem;
    height: 300rem; }
  &__add {
    --width: 380rem;
    --height: 330rem;
    display: flex;
    width: var(--width);
    align-items: center;
    border-radius: 100%;
    height: var(--height);
    flex-direction: column;
    justify-content: space-between;
    background-color: var(--hover-color);
    &-cover {
      --cover-dim: calc(var(--width) * .4);
      cursor: auto;
      width: var(--cover-dim);
      color: var(--text-color);
      font-size: var(--cover-dim);
      height: calc(var(--cover-dim) - 13rem);
      background-color: transparent !important; }
    &-text {
      font-size: 25rem; }
    &-label {
      width: 50%;
      height: 40rem;
      position: relative;
      background-color: var(--elevated-color); }
    &-input,
    &-button {
      width: 100%;
      height: 100%;
      cursor: pointer;
      position: absolute; }
    &-button {
      padding: 0;
      justify-content: center; }
    &-input {
      font-size: 0;
      &::-webkit-file-upload-button {
        visibility: hidden; } } } }
