.Search {
  height: 100%;
  width: 1200px;
  margin: 0 auto;
  overflow: auto;
  &__bar,
  &__content {
    padding: var(--space); }
  &__bar {
    width: 600px;
    margin: 0 auto;
    margin-top: calc(var(--space) * 2);
    &-input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 20rem;
      text-align: center;
      background-color: transparent;
      padding: calc(var(--space) * .5);
      border-bottom: 2px solid #333333; } }
  &__content {
    box-shadow: var(--box-shadow);
    background-color: var(--text-color-white); } }
