.Add {
	display: grid;
	gap: var(--space);
	font-family: monospace;
	grid-template-columns: 300px auto 250px;
	@media (max-width: 1000px) {
		display: block; }
	&__album {
		@media (max-width: 1000px) {
			margin-bottom: var(--space); } }
	&__docs {
		margin-bottom: var(--space);
		&:last-child {
			margin-bottom: 0; } } }
