.Player {
	top: 0;
	left: 0;
	z-index: 3;
	width: 100%;
	height: 100%;
	position: absolute;
	&__main {
		top: 50%;
		left: 50%;
		position: absolute;
		transform: translate(-50%, -50%); }
	&__close {
		--font-size: 36rem;
		--padding: var(--space-quart);
		--dim: calc(var(--font-size) + var(--padding) * 2);
		top: 7rem;
		left: 13rem;
		width: var(--dim);
		height: var(--dim);
		position: absolute;
		border-radius: 100%;
		color: var(--text-color);
		font-size: var(--font-size); }
	&__main {
		width: 600px;
		display: flex;
		align-items: center;
		flex-direction: column;
		&-cover {
			width: 100%;
			margin-bottom: var(--space-double); }
		&-text {
			text-align: center;
			margin-bottom: var(--space-half); }
		&-title {
			display: flex;
			align-items: center;
			&-text {
				font-size: 30rem;
				font-weight: 700; }
			&-inLibrary {
				margin-left: var(--space-half); } }
		&-progress {
			background-color: #e0e0e0; }
		&-controls {
			width: auto;
			margin-top: var(--space-double);
			&-icon {
				--size: 50rem;
				width: var(--size);
				height: var(--size);
				font-size: var(--size);
				color: var(--text-color); } }
		&-artists {
			font-size: 20rem;
			font-weight: 400; }
		&-album {
			font-size: 20rem;
			font-weight: 500;
			margin-bottom: calc(var(--space) * 2.25); } } }
