.Player {
  width: 100%;
  height: 100%;
  display: flex;
  position: relative;
  align-items: center;
  justify-content: center;
  &__close {
    top: 0;
    left: 0;
    margin: 20px;
    padding: 10px;
    font-size: 40rem;
    position: absolute;
    transition: .2s all;
    border-radius: 100%;
    &:hover {
      background-color: #e0e0e0; } }
  &__main {
    display: flex;
    align-items: center;
    flex-direction: column;
    &-cover {
      width: 30vw;
      height: auto;
      display: block;
      border-radius: 5px;
      margin-bottom: 40px;
      box-shadow:
        0 3px 6px rgba(#000000, .16),
        0 3px 6px rgba(#000000, .23); }
    &-title,
    &-album,
    &-artists {
      text-align: center; }
    &-title {
      font-size: 35rem;
      font-weight: 700;
      margin-bottom: 12px; }
    &-album {
      font-size: 23rem;
      font-weight: 400;
      margin-bottom: 12px; }
    &-artists {
      font-weight: 500;
      font-size: 23rem; } } }
