.AlbumPage {
	display: grid;
	align-items: flex-start;
	padding: var(--space) 0;
	gap: var(--space-one-quart);
	grid-template-columns: 300rem minmax(0, 1fr);
	@media (max-width: 800px) {
		display: block; }
	&__cover {
		cursor: zoom-in; }
	&__title {
		margin-bottom: calc(var(--space-quart) + 3px); }
	&__genres {
		font-size: 17rem;
		font-weight: 400; }
	&__sum {
		outline: none;
		cursor: pointer;
		user-select: none; }
	&__footer-text {
		font-size: 14rem;
		text-transform: uppercase;
		color: var(--text-color-light);
		margin-bottom: var(--space-fifth);
		&:last-child {
			margin-bottom: 0; } } }
