.AlbumPage {
	display: grid;
	gap: calc(var(--space) * 1.25);
	grid-template-columns: 1fr 2fr;
	@media (max-width: 1200px) {
		grid-template-columns: 1fr 2fr; }
	@media (max-width: 800px) {
		display: block; }
	&__title {
		display: flex;
		font-size: 33rem;
		align-items: center;
		margin-bottom: calc(var(--space) * 0.25 + 3px);
		&-add {
			display: inline-block;
			color: var(--text-color);
			margin-left: calc(var(--space) * 0.25); } }
	&__artists {
		font-size: 19rem;
		font-weight: 500; }
	&__genres {
		font-size: 17rem;
		font-weight: 400; }
	&__footer-text {
		font-size: 14rem;
		text-transform: uppercase;
		color: var(--text-color-light); } }
