.GenrePage {
  &__name {
    font-size: 30rem;
    text-align: center;
    background: #6190E8;
    box-shadow: var(--box-shadow);
    padding: calc(var(--space) * 1.5);
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); } }
