@import "../../index.scss";

.GenrePage {
  height: 100%;
  overflow: auto;
  &__name {
    padding: 30px;
    font-size: 30rem;
    text-align: center;
    background: #6190E8;
    box-shadow: 0 1px 4px 0 rgba(#333333, .3);
    background: linear-gradient(to right, #ada996, #f2f2f2, #dbdbdb, #eaeaea); }
  &__songs {
    padding: $SPACE; } }
