.FormInput {
  border: 0;
  width: 100%;
  outline: none;
  padding: 15px 0;
  font-size: 18px;
  line-height: 18px;
  background-color: transparent;
  &::-webkit-file-upload-button {
    display: none; } }
