.Sidebar {
	--margin: calc(var(--space) * 0.75);
	width: 300px;
	display: flex;
	flex-direction: column;
	margin: var(--margin) 0;
	border-right: 1px solid var(--border-color);
	height: calc(100vh - var(--header-height) - var(--player-height) - var(--margin) * 2);
	&__route {
		display: flex;
		align-items: center;
		text-decoration: none !important;
		padding: calc(var(--space) * 0.5) var(--space);
		&:hover {
			background-color: var(--hover-color); }
		&-icon {
			font-size: 27rem;
			color: var(--text-color);
			margin-right: calc(var(--space) * 0.5); }
		&-text {
			font-size: 18rem;
			font-weight: 600;
			text-transform: uppercase; } } }
