@import "../../globals/index.scss";

.Sidebar {
  z-index: 2;
  left: -300px;
  width: 300px;
  cursor: default;
  padding: 20px 0;
  position: absolute;
  top: $HEADER_HEIGHT;
  background-color: #ffffff;
  border-right: 1px solid #e0e0e0;
  height: calc(100vh - #{$HEADER_HEIGHT} - #{$PLAYER_HEIGHT});
  &__routes {
    display: flex;
    flex-direction: column; }
    &__route,
    &__subRoute,
    &__subSubRoute {
      display: flex;
      flex-direction: column;
      &:last-child {
        margin-bottom: 0; } }
      &__route {
        margin-bottom: 10px; }
      &__link {
        color: #333333;
        font-size: 26rem;
        font-weight: 300;
        text-decoration: none;
        padding: 5px 0 5px 20px;
        &:hover {
          background-color: rgba(#333333, .3); } }
      &__subLink {
        color: #333333;
        font-size: 20rem;
        font-weight: 500;
        text-decoration: none;
        padding: 5px 0 5px 35px;
        &:hover {
          background-color: rgba(#333333, .3); } }
        &__subSubLink {
          color: #333333;
          font-size: 16rem;
          font-weight: 400;
          text-decoration: none;
          padding: 5px 0 5px 55px;
          &:hover {
            background-color: rgba(#333333, .3); } } }
