.FormFieldDoc {
  background-color: #EEEEEE;
  border: 1px solid #BDBDBD;
  border-radius: 3px;
  margin-right: 8px;
  display: flex;
  &:last-child {
    margin-right: 0; }
  &__img {
    height: 24px;
    width: 24px; }
  &__text {
    padding: 3px 3px 3px 6px;
    font-size: 18px;
    white-space: nowrap; }
  &__close {
    margin: 2px;
    margin-left: 0;
    padding: 1px;
    font-size: 18px;
    border-radius: 100%;
    transition: .2s all;
    outline: none;
    &:hover {
      background-color: #BDBDBD; } }
}
