@import "../../globals/index.scss";

.Pages {
  width: 100vw;
  overflow: hidden;
  background-color: #FAFAFA;
  height: calc(100vh - #{$HEADER_HEIGHT} - #{$PLAYER_HEIGHT});
  @media(max-width: 700px) {
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$PLAYER_HEIGHT_MOBILE}); } }
