@import "../../../index.scss";

.FormTitle {
  font-size: 28rem;
  position: relative;
  display: inline-block;
  margin-bottom: $SPACE;
  padding-bottom: $SPACE_HALF;
  @media (max-width: 582px) {
    font-size: 20rem;
    margin-bottom: calc(#{$SPACE_HALF} + #{$SPACE_QUART}); }
  &:after {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 2px;
    content: "";
    position: absolute;
    transition: width .25s;
    background-color: #333333; } }
