# folders
dist/
node_modules/

# files
.env
debug.log
access.log
src/common/types.js
src/common/types.d.ts
src/common/globals.js
src/common/globals.d.ts
src/common/dataUrlToBlob.js
src/common/dataUrlToBlob.d.ts
src/common/bufferToDataUrl.js
src/common/bufferToDataUrl.d.ts
src/common/deserializeDuration.js
src/common/deserializeDuration.d.ts