# folders
dist/
node_modules/
src/common/bufferToDataUrl.js
src/common/bufferToDataUrl.d.ts
src/common/bufferToDataUrl.js.map
src/common/deserializeDuration.js
src/common/deserializeDuration.d.ts
src/common/deserializeDuration.js.map

# files
.env