@import "../../../globals/index.scss";

.FormField {
  width: 500px;
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0; }
  &__label {
    display: flex;
    padding: 0 13px;
    margin-top: 5px;
    border-width: 1px;
    position: relative;
    transition: .3s all;
    align-items: center;
    border-style: solid;
    border-color: #e0e0e0;
    border-radius: $BORDER_RADIUS;
    &:hover,
    &:hover &-dropdown {
      border-color: #9E9E9E; }
    &:focus {
      border-color: #212121; }
    &-name {
      top: -6px;
      left: 9px;
      color: #757575;
      font-size: 14px;
      font-weight: 400;
      position: absolute;
      padding: 0 4px 0 4px;
      background-color: #ffffff; }
    &-list {
      display: flex;
      margin-top: 3px;
      margin-right: 13px;
      align-items: center; }
    &-doc {
      display: flex;
      align-items: center;
      &-cover {
        width: 26px;
        height: 26px;
        border-radius: 4px;
        border: 1px solid #BDBDBD; }
      &-text {
        margin-left: 8px;
        font-size: 18rem;
        white-space: nowrap; }
      &-close {
        padding: 1px;
        outline: none;
        font-size: 22rem;
        margin-left: 5px;
        transition: .2s all;
        border-radius: 100%;
        &:hover {
          background-color: #BDBDBD; } } }
    &-input {
      width: 100%;
      border: none;
      outline: none;
      font-size: 18px;
      line-height: 18px;
      padding: 15px 0 12px 0;
      background-color: transparent; }
    &-dropdown {
      bottom: 0;
      left: -1px;
      z-index: 2;
      color: #e0e0e0;
      min-height: 136px;
      position: absolute;
      overflow-x: hidden;
      overflow-y: scroll;
      transition: .2s all;
      top: calc(100% - 3px);
      border-color: #e0e0e0;
      border-left: 1px solid;
      width: calc(100% + 2px);
      border-right: 1px solid;
      border-bottom: 1px solid;
      background-color: #ffffff;
      border-radius: 0 0 $BORDER_RADIUS $BORDER_RADIUS;
      &:hover {
        border-color: #9E9E9E; }
      &-item {
        width: 100%;
        border: none;
        outline: none;
        color: #333333;
        padding: 18rem;
        display: block;
        cursor: pointer;
        font-size: 15px;
        text-align: left;
        user-select: none;
        transition: .2s all;
        background-color: transparent;
        &:hover {
          background-color: #e0e0e0; } } } }
  &__validators {
    margin: 10px 0 0 13px; } }
