.FormField {
  margin-bottom: 25px;
  width: 500px;
  &:last-child {
    margin-bottom: 0; }
  &__label {
    display: flex;
    align-content: center;
    margin-top: 5px;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    transition: .3s all;
    border-radius: 4px;
    position: relative;
    &:hover {
      border-color: #9E9E9E; }
    &:focus {
      border-color: #212121; } }
    &__name {
      top: -6px;
      left: 9px;
      font-weight: 400;
      position: absolute;
      color: #757575;
      padding: 0 4px 0 4px;
      font-weight: 400;
      background-color: #ffffff;
      font-size: 14px; }
    &__list {
      margin-left: 8px;
      align-items: center;
      display: flex; }
    &__input {
      width: 100%;
      border: none;
      background-color: transparent;
      outline: none;
      padding: 15px 11px 12px 13px;
      font-size: 18px;
      line-height: 18px; }
  &__validators {
    margin: 10px 0 0 10px; }
}
