.FormField {
  margin-bottom: 20px;
  width: 500px;
  &:last-child {
    margin-bottom: 0; }
  &__label {
    display: flex;
    align-content: center;
    margin-top: 5px;
    border-color: #e0e0e0;
    border-width: 1px;
    border-style: solid;
    transition: .3s all;
    border-radius: 4px;
    position: relative;
    &:hover {
      border-color: #9E9E9E; }
    &:focus {
      border-color: #212121; } }
    &__name {
      top: -6px;
      left: 9px;
      font-weight: 400;
      position: absolute;
      color: #757575;
      padding: 0 4px 0 4px;
      font-weight: 400;
      background-color: #ffffff;
      font-size: 14px; }
    &__list {
      margin-left: 12px;
      margin-top: 3px;
      align-items: center;
      display: flex; }
    &__input {
      width: 100%;
      border: none;
      background-color: transparent;
      padding: 15px 11px 12px 13px;
      outline: none;
      font-size: 18px;
      line-height: 18px; }
    &__dropdown {
      bottom: 0;
      z-index: 2;
      border-radius: 3px;
      border: 1px solid #e0e0e0;
      top: calc(100% + 6px);
      box-shadow:
        0px 5px 5px -3px rgba(0,0,0,0.2),
        0px 8px 10px 1px rgba(0,0,0,0.14),
        0px 3px 14px 2px rgba(0,0,0,0.12);
      height: 100%;
      width: 100%;
      background-color: #ffffff;
      position: absolute; }
      &__dropdownItem {
        display: block;
        padding: 15px;
        font-size: 17px;
        cursor: pointer;
        transition: .2s all;
        &:hover {
          background-color: #e0e0e0; } }
  &__validators {
    margin: 10px 0 0 10px; }
}
