.FormField {
  margin-bottom: 25px;
  &:last-child {
    margin-bottom: 0; }
  &__label {
    position: relative; }
    &__name {
      left: 10px;
      font-weight: 400;
      position: absolute;
      color: #757575;
      padding: 0 4px 0 4px;
      font-weight: 400;
      background-color: #ffffff;
      font-size: 14px; }
    &__input {
      margin-top: 5px;
      outline: none;
      border-color: #e0e0e0;
      border-width: 1px;
      border-style: solid;
      border-radius: 4px; 
      font-size: 18px;
      padding: 13px 10px 13px 10px;
      line-height: 18px;
      width: 500px;
      transition: .3s all;
      &:hover {
        border-color: #9E9E9E; }
      &:focus {
        border-color: #212121; } }
  &__validators {
    margin: 10px 0 0 10px; }
}
