.AddItem {
  --height: 25rem;
  --font-size: 18rem;
  --padding: calc(var(--space) * 0.25);
  display: flex;
  position: relative;
  align-items: center;
  height: var(--height);
  &:hover
  &__remove {
    opacity: 1; }
  &__img {
    width: var(--height);
    height: var(--height); }
  &__input {
    margin: 5rem 6rem 4rem; }
  &__remove {
    opacity: 0;
    top: -6rem;
    right: -6rem;
    width: 13rem;
    height: 13rem;
    font-size: 13rem;
    position: absolute;
    border-radius: 100%;
    color: var(--text-color-white);
    background-color: #ef5350 !important;
    transition-property: opacity !important;
    transition-duration: var(--transition-duration) !important; } }
