@import "../../globals/index.scss";

.Catalog {
  font-size: 16rem;
  height: 100%;
  &__header {
    width: 100%;
    height: $HEADER_HEIGHT;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0;
    padding: 20px; }
    &__links {
      display: flex; }
      &__link {
        margin-right: 5px;
        font-size: 20rem;
        display: block;
        text-decoration: none;
        &:last-child {
          margin-right: 0; } }
  &__main {
    height: 100%; }
}
