@import "../../globals/index.scss";

.SongTable {
  height: 30px;
  border-bottom: 1px solid #e0e0e0;
  @media (min-width: 700px) {
    & { height: 40px; } }
  &:hover {
    background-color: #eeeeee; }
  &:hover &__col-play {
    display: block; }
  &:last-child {
    border-bottom: none; }
  &__col {
    position: relative;
    padding: 6px 7px 7px 7px;
    @media (min-width: 700px) {
      & { padding: 12px 8px 12px 8px; } }
    &-img {
      width: 27px;
      height: 27px;
      border-radius: $BORDER_RADIUS;
      box-shadow: 0 1px 4px 0 rgba(#333333, .3);
      @media (min-width: 700px) {
        & { width: 30px;
            height: 30px; } }
      &:before {
        padding-top: 100%; } }
    &-play {
      top: 5px;
      left: 5px;
      outline: none;
      display: none;
      color: #ffffff;
      font-size: 30rem;
      position: absolute;
      border-radius: 3px;
      transition: .2s box-shadow;
      background-color: rgba(#333333, .8);
      &:hover {
        box-shadow: 3px 6px 10px 0 rgba(#333333, .4); }
      &:active {
        animation: play .3s ease-out; } }
    &-play-button {
      outline: none;
      color: #9E9E9E;
      font-size: 30rem;
      transition: .2s all;
      border-radius: 100%;
      &:hover {
        color: #333333;
        background-color: #BDBDBD; } }
    &-span {
      overflow: hidden;
      font-size: 14rem;
      text-align: left;
      line-height: 14rem;
      white-space: nowrap;
      text-overflow: ellipsis;
      @media (min-width: 700px) {
        & { font-size: 15rem;
            line-height: 15rem; } }
      &-mix {
        font-weight: 400;
        color: #757575; }
      &-featuring {
        display: none;
        @media (min-width: 700px) {
          & { display: inline; } } } } }
  &__cover {
    width: 35px;
    display: none;
    padding: 5px 0 5px 5px;
    @media (min-width: 700px) {
      & { display: table-cell; } } }
  &__track {
    width: 27px;
    text-align: right;
    div {
      text-align: center;  } }
  &__title {
    max-width: 15vw;
    font-weight: 700;
    @media (min-width: 700px) {
      & { font-weight: 400; } } }
  &__duration {
    width: 47px;
    display: none;
    div {
      color: #757575; }
    @media (min-width: 700px) {
      & { display: table-cell; } } }
  &__artists {
    display: none;
    max-width: 15vw;
    @media (min-width: 700px) {
      & { display: table-cell; } } }
  &__remixers {
    max-width: 8vw; }
  &__album {
    max-width: 15vw; }
  &__genres {
    max-width: 8vw; }
  &__released {
    width: 96px;
    display: none;
    @media (min-width: 700px) {
      & { display: table-cell; } } }
  &__artists-under {
    display: block;
    margin-top: 5px;
    font-size: 14rem;
    font-weight: 400;
    @media (min-width: 700px) {
      & { display: none; } } } }

@keyframes play {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); } }
