.ArtistPage {
  height: 100%;
  padding: 20px;
  overflow: auto;
  &__cover {
    width: 640px;
    height: 360px;
    display: block;
    margin-bottom: 20px;
    box-shadow: 0 1px 4px 0 rgba(#333333, .3);
    &:before {
      padding-top: 56.25%; }
    &__img {
      width: 200px;
      height: 200px; } }
  &__main {
    width: 100%; }
    &__title {
      font-size: 30rem;
      margin-bottom: 10px; }
      &__length {
        font-size: 17rem;
        margin-bottom: 20px; } }
  
