@import "../../index.scss";

.ArtistPage {
  height: 100%;
  overflow: auto;
  padding: $SPACE;
  &__spinner {
    padding: 20px; }
  &__cover {
    width: 100%;
    height: auto;
    display: block;
    @media (min-width: 700px) {
      width: 640px;
      height: 360px;
      margin-bottom: 20px; }
    &:before {
      padding-top: 56.25%; }
    &-img {
      border-radius: 0;
      @media (max-width: 700px) {
        border-radius: 0; } } }
  &__name {
    display: flex;
    margin-bottom: 8px;
    align-items: center;
    &-text {
      font-size: 26rem;
      @media (min-width: 700px) {
        font-size: 30rem; } }
    &-add {
      font-size: 25rem;
      margin-left: 5px;
      border-radius: 100%; } }
  &__length,
  &__albums {
    margin-bottom: $SPACE; }
  &__length {
    font-size: 17rem; } }
