@import "../../globals/index.scss";

.Artist {
  &:hover &__info-add {
    opacity: 1; }
  &__cover:before {
    padding-top: 56.25%; }
  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-name {
      margin: 0;
      padding-top: 10px;
      font-size: 20rem; }
    &-add {
      opacity: 0;
      margin-top: 4px;
      font-size: 26rem;
      transition: .4s opacity;  } } }
