@import "../../globals/index.scss";

.Artist {
  &__cover:before {
    padding-top: 56.25%; }
  &__info {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-name {
      margin: 0;
      font-size: 20rem;
      padding-top: 10px; }
    &-add {
      margin-top: 4px;
      font-size: 26rem; } } }
