@import "../../globals/index.scss";

.Icon {
  outline: none;
  display: block;
  cursor: pointer;
  font-size: 30rem;
  user-select: none;
  transition: .2s all;
  border-radius: 100%;
  color: $TEXT_COLOR_LIGHT;
  &:hover {
    background-color: #eee; } }
