.Icon {
	outline: none;
	display: block;
	cursor: pointer;
	user-select: none;
	border-radius: 100%;
	width: var(--button-size);
	height: var(--button-size);
	font-size: var(--button-size);
	color: var(--text-color-light); }