.AddAlbumItem {
  --content-size: 20rem;
  padding: 4rem;
  display: flex;
  cursor: pointer;
  align-items: center;
  &__img {
    margin-right: 4rem;
    width: var(--content-size);
    height: var(--content-size);
    border-radius: 100% !important; }
  &__close {
    width: var(--content-size);
    height: var(--content-size);
    font-size: var(--content-size);
    background-color: var(--color-elevated); } }
