.ListItem {
  background-color: #EEEEEE;
  border: 1px solid #BDBDBD;
  padding: 3px;
  border-radius: 3px;
  font-size: 18px;
  margin-right: 8px;
  white-space: nowrap;
  &:last-child {
    margin-right: 0; }
}
