@import "../../globals/index.scss";

.Genre {
  display: flex;
  border-radius: 3px;
  align-items: center;
  flex-direction: column;
  box-shadow: $BOX_SHADOW;
  background-color: transparent;
  &__name {
    margin: 0;
    width: 100%;
    padding: 10px;
    font-size: 20rem;
    border-radius: 0 0 3px 3px; } }
