@import "../../globals/index.scss";

.Genre {
  display: flex;
  border-radius: 3px;
  align-items: center;
  box-shadow: $BOX_SHADOW;
  background-color: transparent;
  &__name {
    margin: 0;
    width: 100%;
    padding: 10px;
    font-size: 19rem;
    border-radius: 0 0 3px 3px; }
  &__add {
    margin: 5px;
    padding: 3px;
    font-size: 25rem; } }
