@import "../../../globals/index.scss";

.SongRow {
  height: 41px;
  border-bottom: 1px solid #e0e0e0;
  &:hover {
    background-color: #eeeeee; }
  &:hover &__col-play {
    display: block; }
  &:last-child {
    border-bottom: none; }
  &__col {
    padding: 12px;
    overflow: hidden;
    &-span {
      font-size: 16px;
      text-align: left;
      line-height: 16px;
      white-space: nowrap;
      text-overflow: ellipsis; } }

  &__add,
  &__play {
    width: 40px;
    height: 40px; }

  &__add,
  &__play {
    padding: 4px;
    &-icon {
      width: 32px;
      height: 32px;
      color: #757575;
      font-size: 32px;
      line-height: 32px;
      border-radius: 100%;
      &:hover {
        background-color: #E0E0E0; } } }

  &__album,
  &__genres,
  &__artists,
  &__released,
  &__remixers,
  &__duration {
    @media (max-width: 700px) {
      display: none; } }

  &__play {
    width: 36px;
    padding-right: 0; }

  &__trackNumber {
    width: 30px;
    height: 40px;
    font-size: 16px;
    padding-left: 0;
    padding-right: 0;
    overflow: visible;
    text-align: center;
    &-span {
      width: 16px;
      height: 16px; } }

  &__title {
    max-width: 20vw;
    padding-left: 8px;
    &-span {
      @media (max-width: 700px) {
        display: none; } }
    &-song {
      @media (min-width: 700px) {
        display: none; } } }

  &__duration {
    width: 55px;
    &-span {
      color: #757575; } }

  &__artists {
    max-width: 12vw; }

  &__remixers {
    max-width: 8vw; }

  &__album {
    max-width: 12vw; }

  &__genres {
    max-width: 12vw; }
  
  &__released {
    width: 110px; } }

@keyframes play {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); } }
