.FormValidator {
  display: flex;
  &__icon {
    outline: none;
    cursor: default;
    font-size: 16px;
    margin-right: 5px;
    &-success {
      color: green; }
    &-failure {
      color: red; } }
  &__text {
    font-size: 15rem; } }
