.IconText {
  border: 0;
  margin: 0;
  outline: none;
  display: flex;
  cursor: pointer;
  align-items: center;
  padding: calc(var(--space) * .5);
  &__icon {
    margin-right: 8px;
    &:hover {
      background-color: transparent !important; } }
  &__text {
    font-size: 18rem;
    user-select: none; } }
