.ModalButton {
	width: 300rem;
	outline: none;
	cursor: pointer;
	border-radius: none;
	background-color: transparent;
	transition: 0.2s background-color;
	border-bottom: 1px solid var(--border-color);
	&:hover {
		background-color: var(--hover-color); }
	&:last-child {
		border-bottom: 0; }
	&__span {
		color: var(--text-color); } }