.FormFieldDoc {
  display: flex;
  align-items: center;
  &__cover {
    width: 26px;
    height: 26px;
    border-radius: 4px;
    border: 1px solid #BDBDBD; }
  &__text {
    font-size: 18rem;
    margin-left: 6px;
    white-space: nowrap; }
  &__close {
    padding: 1px;
    outline: none;
    font-size: 18rem;
    margin-left: 3px;
    transition: .2s all;
    border-radius: 100%;
    &:hover {
      background-color: #BDBDBD; } } }
