@import "../../globals/index.scss";

.Library {
  &__header {
    width: 100%;
    display: flex;
    height: $HEADER_HEIGHT;
    flex-direction: column;
    background-color: #ffffff;
    justify-content: space-between;
    border-bottom: 1px solid #e0e0e0; }
    &__links {
      display: flex; }
      &__link {
        display: flex;
        padding: 21px 0;
        position: relative;
        transition: .2s all;
        align-content: center;
        text-decoration: none;
        &:hover {
          background-color: #EEEEEE; }
        &:last-child {
          margin-right: 0; } }
        &__icon {
          outline: none;
          font-size: 18rem;
          margin-right: 3px;
          padding-left: 15px; }
        &__text {
          display: block;
          font-size: 18rem;
          font-weight: 700;
          padding-right: 15px;
          text-decoration: none; 
          text-transform: uppercase;}
        &__active {
          &:after {
            bottom: 0;
            width: 100%;
            height: 2px;
            content: "";
            position: absolute;
            border-radius: 4px;
            background-color: #333333; } }
  &__main {
    width: 100%;
    padding: 20px;
    overflow: auto;
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$HEADER_HEIGHT}); }
    &__grid-cover {
      border-radius: $BORDER_RADIUS;
      box-shadow:
        0 3px 6px rgba(#000000, .16),
        0 3px 6px rgba(#000000, .23);
      &:hover &-img {
        filter: blur(10px); }
      &:hover &-black-box {
        background-color: rgba(#000000, .8); }
      &:hover &-button {
        display: flex; }
      &-img {
        border-radius: $BORDER_RADIUS; }
      &-black-box {
        top: 0;
        right: 0;
        bottom: 0;
        width: 100%;
        height: 100%;
        cursor: pointer;
        position: absolute;
        background-color: transparent; }
      &-button {
        z-index: 2;
        width: 50%;
        height: 50%;
        border: none;
        display: none;
        outline: none;
        position: absolute;
        align-items: center;
        flex-direction: column;
        justify-content: center;
        background-color: transparent;
        transform: translate(-50%, -50%);
        transition: .5s background-color;
        &:hover {
          background-color: rgba(#FFFFFF, .2); }
        &:active {
          background-color: rgba(#FFFFFF, .4); }
        &-icon {
          outline: none;
          color: #ffffff;
          font-size: 35rem; }
        &-top-left {
          top: 25%;
          left: 25%;
          border-top-left-radius: $BORDER_RADIUS; }
        &-top-right {
          top: 25%;
          left: 75%;
          border-top-right-radius: $BORDER_RADIUS; }
        &-bottom-left {
          top: 75%;
          left: 25%;
          border-bottom-left-radius: $BORDER_RADIUS; }
        &-bottom-right {
          top: 75%;
          left: 75%;
          border-bottom-right-radius: $BORDER_RADIUS; } } } }
