@import "../../globals/index.scss";

.Library {
  &__header {
    width: 100%;
    height: $HEADER_HEIGHT;
    display: flex;
    background-color: #ffffff;
    flex-direction: column;
    border-bottom: 1px solid #e0e0e0;
    justify-content: space-between; }
    &__links {
      display: flex; }
      &__link {
        padding: 21px 0;
        position: relative;
        display: flex;
        align-content: center;
        text-decoration: none;
        transition: .2s all;
        &:hover {
          background-color: #EEEEEE; }
        &:last-child {
          margin-right: 0; } }
        &__icon {
          outline: none;
          padding-left: 15px;
          margin-right: 3px;
          font-size: 18rem; }
        &__text {
          font-size: 18rem;
          padding-right: 15px;
          text-transform: uppercase;
          font-weight: 700;
          display: block;
          text-decoration: none; }
        &__active {
          &:after {
            width: 100%;
            position: absolute;
            background-color: #333333;
            height: 2px;
            bottom: 0;
            border-radius: 4px;
            content: ""; } }
  &__main {
    overflow: auto;
    width: 100%;
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$HEADER_HEIGHT}); }
}
