@import "../../../globals/index.scss";

.Browse {
  z-index: 2;
  &__main {
    z-index: 1;
    width: 100%;
    padding: 20px;
    overflow: auto;
    box-shadow: none;
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$HEADER_HEIGHT} - #{$PLAYER_HEIGHT});
    @media(max-width: 700px) {
      padding: 15px;
      height: calc(100vh - #{$HEADER_HEIGHT} - #{$HEADER_HEIGHT} - #{$PLAYER_HEIGHT_MOBILE}); } } }
