@import "../../../globals/index.scss";

.Browse {
  z-index: 2;
  &__main {
    z-index: 1;
    width: 100%;
    padding: 15px;
    overflow: auto;
    box-shadow: none;
    @media (min-width: 700px) {
      padding: 20px; }
    height: calc(100vh - #{$HEADER_HEIGHT} - #{$HEADER_HEIGHT} - #{$PLAYER_HEIGHT}); } }
