.AddSong {
  &:hover &__main-mix {
    opacity: 1; }
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      display: flex;
      align-items: center; }
    &-text {
      width: 100%;
      margin-left: calc(var(--space) * 0.25); }
    &-trackNumber {
      display: flex;
      align-items: flex-end;
      &-input {
        font-weight: 700;
        text-align: right; }
      &-dot {
        font-weight: 700;
        font-size: 15rem; } }
    &-mix {
      opacity: 0;
      min-width: 3ch;
      color: var(--text-color-light);
      margin-left: calc(var(--space) * 0.5);
      &:focus {
        opacity: 1; } }
    &-right {
      display: flex; }
    &-duration {
      font-size: 15rem;
      color: var(--text-color-light);
      margin-left: calc(var(--space) * 0.5); } }
  &__lists {
    display: flex;
    align-items: center;
    &-feat {
      font-size: 15rem;
      margin-top: 3rem;
      margin-left: 10rem;
      margin-right: -5rem;
      color: var(--text-color-light);
      &-list {
        margin-left: calc(var(--space) * 0.5); } } }
  &__remixers {
    display: block; } }
