.AddSong {
  &__main {
    display: flex;
    align-items: center;
    justify-content: space-between;
    &-left {
      width: 100%;
      display: flex;
      align-items: center; }
    &-text {
      width: 100%; }
    &-trackNumber {
      display: flex;
      font-weight: 700;
      align-items: flex-end;
      margin-right: calc(var(--space) * 0.5);
      &-input {
        width: 2ch;
        text-align: right; }
      &-dot {
        font-size: 15rem;
        margin-bottom: 1rem; } }
    &-right {
      display: flex; }
    &-mix,
    &-duration {
      margin-left: calc(var(--space) * 0.5); }
    &-mix {
      width: 50rem;
      &-input {
        font-weight: 700;
        &::placeholder {
          font-weight: 400;
          color: var(--text-color-light);} } } } }
