.ApiError {
  top: 0;
  left: 0;
  z-index: 99;
  width: 100vw;
  height: 100vh;
  font-size: 18rem;
  position: absolute;
  padding: var(--space);
  font-family: monospace;
  background-color: var(--text-color-white); }
