.AddText {
  outline: none;
  display: block;
  &__text {
    margin-bottom: 2rem; }
  &__main {
    display: flex;
    position: relative;
    align-items: center;
    &-icon {
      margin-left: calc(var(--space) * 0.5); } } }
