.AddButton {
  margin: 0;
  width: 146rem;
  outline: none;
  display: block;
  color: transparent;
  &::-webkit-file-upload-button {
    visibility: hidden; }
  &::before {
    outline: none;
    cursor: pointer;
    font-weight: 700;
    font-size: 16rem;
    user-select: none;
    white-space: nowrap;
    display: inline-block;
    color: var(--text-color);
    height: var(--info-height);
    content: "Select audio files";
    padding: calc(var(--space) * 0.5);
    background: var(--elevated-color);
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    transition: var(--transition-duration) border-color; }
  &:hover::before {
    border-color: var(--text-color); }
  &:active::before {
    background: -webkit-linear-gradient(top, #e3e3e3, #f9f9f9); } }
