.Album {
  display: flex;
  align-items: center;
  flex-direction: column;
  border-radius: 3px;
  &__cover {
    width: 100%;
    height: auto;
    box-shadow: 0 1px 4px 0 rgba(#333333,.3);
    border-radius: 4px;
    transition: .2s all;
    &:hover {
      box-shadow: 0 3px 6px 0 rgba(#333333,.5); } }
  &__link {
    text-decoration: none;
    &:hover {
      color: #1a73e8;
      text-decoration: underline; } }
  &__info {
    width: 100%;
    padding: 10px 0;
    border-color: #e0e0e0; }
    &__title {
      font-size: 18rem;
      max-height: 18rem;
      margin-bottom: 3px;
      font-weight: 700; }
    &__artistName {
      font-size: 16rem;
      max-height: 16rem;
      font-weight: 400; }
    &__title, &__artistName {
      overflow: hidden;
      text-overflow: ellipsis; }
}
