.Disc {
	margin-bottom: var(--space-three-quart);
	&:last-child {
		margin-bottom: 0; }
	&__number {
		font-size: 15rem;
		font-weight: 700;
		text-transform: uppercase;
		margin-bottom: var(--space-half); } }