.Loading {
  &:before {
    top: 0;
    width: 50%;
    height: 3px;
    content: "";
    display: block;
    position: absolute;
    animation-duration: 2s;
    animation-name: loading;
    background-color: #bdbdbd;
    animation-timing-function: ease;
    animation-iteration-count: infinite; } }

@keyframes loading {
  0% { left: -25%; }
  50% { left: 75%; }
  100% { left: -25%; }
}
