.Queues {
  padding: var(--space);
  &__section {
    width: 500px;
    margin-bottom: 12px;
    padding: var(--space);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background-color: var(--text-color-white);
    @media (max-width: 640px) {
      width: 100%; }
    &-text {
      color: #757575;
      font-size: 18rem;
      margin-bottom: calc(var(--space) * .5); }
    &-song {
      display: flex;
      align-items: center;
      margin-bottom: calc(var(--space) * .5);
      &:last-child {
        margin-bottom: 0; }
      &-playButton {
        font-size: 32rem;
        margin-left: -9px;
        border-radius: 100%;
        transition: .2s background-color;
        margin-right: calc(var(--space) * .5);
        &:hover {
          background-color: var(--hover-color); } } } } }
