@import "../../globals/index.scss";

.Queues {
  width: 1200px;
  padding: 20px;
  margin: 0 auto;
  &__section {
    padding: 20px;
    margin-bottom: 12px;
    background-color: #fff;
    box-shadow: $BOX_SHADOW;
    border-radius: $BORDER_RADIUS;
    &-text {
      color: #757575;
      font-size: 18rem;
      margin-bottom: 10px; }
    &-song {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0; }
      &-playButton {
        font-size: 32rem;
        margin-left: -9px;
        margin-right: 10px;
        border-radius: 100%;
        transition: .2s all;
        &:hover {
          background-color: #e0e0e0; } } } } }
