@import "../../globals/index.scss";

.Queues {
  padding: 20px;
  &__section {
    padding: 20px;
    margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
    &-text {
      color: #757575;
      font-size: 18rem;
      margin-bottom: 10px; }
    &-song {
      display: flex;
      align-items: center;
      margin-bottom: 12px;
      &:last-child {
        margin-bottom: 0; }
      &-playButton {
        font-size: 32rem;
        margin-left: -9px;
        margin-right: 10px;
        border-radius: 100%;
        transition: .2s all;
        &:hover {
          background-color: #e0e0e0; } } } } }
