.Button {
	border: 0;
	outline: none;
	display: block;
	cursor: pointer;
	overflow: hidden !important;
	min-width: var(--info-height);
	min-height: var(--info-height);
	background-color: transparent;
	color: var(--text-color-light);
	border-radius: var(--border-radius);
	font-size: calc(var(--info-height) - 6rem);
	transition: var(--transition-duration) background-color;
	&:hover {
		background-color: #e0e0e0; }
	&__icon,
	&__text {
		user-select: none; }
	&__icon {
		font-size: var(--info-height); } }