$TEXT: #333333;
$FONT_SIZE: 1px;
$LINE_HEIGHT: 1;
$FONT_FAMILY: "Roboto";

$PRIMARY: #ff5722;
$PRIMARY_LIGHT: #ff8a50;
$PRIMARY_DARK: #c41c00;
$PRIMARY_TEXT: #fafafa;

$SECONDARY: #212121;
$SECONDARY_LIGHT: #484848;
$SECONDARY_DARK: #000000;
$SECONDARY_TEXT: #fafafa;

$HEADER_HEIGHT: 60px;
