$TEXT: #333333;
$FONT_SIZE: 1px;
$LINE_HEIGHT: 1;
$FONT_FAMILY: "Roboto";

$PRIMARY: #00897b;
$PRIMARY_LIGHT: #4ebaaa;
$PRIMARY_DARK: #005b4f;
$PRIMARY_TEXT: #fafafa;

$SECONDARY: #546e7a;
$SECONDARY_LIGHT: #819ca9;
$SECONDARY_DARK: #29434e;
$SECONDARY_TEXT: #fafafa;

$HEADER_HEIGHT: 60px;
$PLAYER_HEIGHT: 75px;
$BORDER_RADIUS: 5px;
