.FormFieldListDoc {
  display: flex;
  margin-right: 8px;
  border-radius: 3px;
  background-color: #eee;
  border: 1px solid #bdbdbd;
  &:last-child {
    margin-right: 0; }
  &__img {
    width: 24px;
    height: 24px;
    border-radius: 3px 0 0 3px; }
  &__text {
    font-size: 18rem;
    white-space: nowrap;
    padding: 3px 3px 3px 6px; }
  &__close {
    margin: 2px;
    padding: 1px;
    outline: none;
    margin-left: 0;
    font-size: 18rem;
    transition: 0.2s all;
    border-radius: 100%;
    &:hover {
      background-color: #bdbdbd; } } }
