:root {
  --text-color: #333;
  --elevated-color: #fff;
  --hover-color: #eee;
  --button-hover-color: #e0e0e0;
  --text-color-white: #fff;
  --text-color-light: #757575;
  --background-color: #fafafa;

  --font-size: 1px;
  --font-family: "Roboto";

  --line-height: 1;
  --info-height: 35rem;
  --header-height: 60px;
  --player-height: 96px;
  --player-height-mobile: 120px;

  --sidebar-width: 300px;

  --border-radius: 5px;
  --border-color: #e0e0e0;

  --space: 20rem;

  --button-size: 27rem;

  --content-width: 100vw;

  --transition-duration: 0.2s;
}
