@import "../../css/variables.scss";

.PlayerBar {
  z-index: 2; 
  display: flex;
  flex-direction: row;
  box-shadow: $box-shadow-5;
  height: var(--player-height);
  background-color: var(--elevated-color);
  @media(max-width: 700px) {
    flex-direction: column-reverse;
    height: var(--player-height-mobile); }
  &__icon {
    color: var(--text-color); }
  &__main,
  &__controls {
    padding: 0 var(--space); }
  &__controls {
    border-right: 1px solid var(--border-color); }
  &__main {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    @media(max-width: 700px) {
      padding: 8px 8px 10px 8px;
      border-bottom: 1px solid var(--border-color); }
    &-info {
      display: flex;
      flex-direction: row-reverse;
      justify-content: space-between;
      margin-bottom: calc(var(--space) * .75);
      &-controls {
        display: flex;
        align-items: center;
        &-control {
          margin-right: calc(var(--space) * .25);
          &:last-child {
            margin-right: 0; } } } } } }
