@import "../../globals/index.scss";

.PlayerBar {
  z-index: 4; 
  width: 100%;
  display: flex;
  height: $PLAYER_HEIGHT;
  box-shadow: 0 1px 4px 0 rgba(51, 51, 51, 0.3);
  &__link {
    text-decoration: none;
    &:hover {
      text-decoration: none; } }
  &__icon {
    outline: none;
    font-size: 40rem;
    transition: .2s all;
    border-radius: 100%;
    &:hover {
      background-color: #e0e0e0; } }
  &__main,
  &__controls {
    height: 100%; }
  &__controls {
    padding: 15px;
    display: flex;
    align-items: center;
    border-right: 1px solid #e0e0e0; }
  &__main {
    width: 100%;
    padding: 15px 19px 13px 19px;
    &-info {
      display: flex;
      padding-bottom: 13px;
      justify-content: space-between;
      &-right {
        display: flex;
        margin-top: 2px;
        align-items: center;
        &-volume,
        &-queues {
          margin-right: 10px; }
        &-volume {
          font-size: 35rem; }
        &-fullscreen {
          margin-right: -7px; } } } } }
