.AddAlbumList {
  &__label {
    margin-bottom: calc(var(--space) * 0.25); }
  &__main {
    display: flex;
    align-items: center; }
  &__items {
    width: 100%;
    display: grid;
    gap: calc(var(--space) * 0.5);
    grid-template-columns: 1fr 1fr;
    margin-right: calc(var(--space) * 0.25); }
  &__item {
    width: 100%;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--elevated-color); } }
