.SongsTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(#333333, .3);
  &__head {
    @media (max-width: 700px) {
      display: none; }
    &-row {
      height: 33px;
      border-bottom: 1px solid #e0e0e0;
      &-col {
        cursor: pointer;
        font-size: 16px;
        text-align: left;
        line-height: 16px;
        padding: 5px 12px;
        user-select: none;
        transition: .2s all;
        text-transform: uppercase;
        &:hover {
          background-color: #EEEEEE; }
        &-icon {
          height: 23px;
          color: #757575;
          font-size: 23px;
          line-height: 23px;
          border-radius: 100%; } }
      &-noHover {
        cursor: auto;
        transition: none;
        &:hover {
          background-color: transparent; } } }
    &-cover,
    &-duration {
      padding: 4px;
      text-align: center; }
    &-trackNumber {
      padding-left: 0;
      padding-right: 0;
      text-align: center; }
    &-album,
    &-genres,
    &-plays,
    &-artists,
    &-released,
    &-remixers,
    &-duration {
      @media (max-width: 700px) {
        display: none; } } }
  &__body {
    &-row {
      height: 41px;
      border-bottom: 1px solid #e0e0e0;
      &:hover {
        background-color: #eeeeee; }
      &:hover &-plays-span {
        display: block; }
      &:last-child {
        border-bottom: none; }
      &-col {
        padding: 12px;
        overflow: hidden;
        &-span {
          font-size: 16px;
          text-align: left;
          line-height: 16px;
          white-space: nowrap;
          text-overflow: ellipsis; } }
      &-add,
      &-play {
        width: 40px;
        height: 40px; }
      &-add,
      &-play {
        padding: 4px;
        &-icon {
          width: 32px;
          height: 32px;
          font-size: 32px;
          line-height: 32px; } }
      &-plays,
      &-album,
      &-genres,
      &-artists,
      &-released,
      &-remixers,
      &-duration {
        @media (max-width: 700px) {
          display: none; } }
      &-play {
        width: 36px;
        padding-right: 0; }
      &-trackNumber {
        width: 30px;
        height: 40px;
        font-size: 16px;
        padding-left: 0;
        padding-right: 0;
        overflow: visible;
        text-align: center;
        &-span {
          width: 16px;
          height: 16px; } }
      &-title {
        max-width: 20vw;
        padding-left: 8px;
        &-span {
          @media (max-width: 700px) {
            display: none; } }
        &-song {
          @media (min-width: 700px) {
            display: none; } } }
      &-plays {
        width: 33px;
        text-align: right;
        &-span {
          display: none;
          text-decoration: none;
          &:hover {
            text-decoration: underline; } } }
      &-duration {
        width: 55px; }
      &-plays,
      &-duration {
        &-span {
          color: #757575;} }
      &-artists {
        width: 12vw; }
      &-remixers {
        width: 8vw; }
      &-album {
        width: 12vw; }
      &-genres {
        width: 12vw; }
      &-released {
        width: 110px; } } } }

@keyframes play {
  0% { transform: scale(1); }
  50% { transform: scale(1.2); }
  100% { transform: scale(1); } }        
