.SongsTable {
  width: 100%;
  border-spacing: 0;
  border-collapse: collapse;
  background-color: #ffffff;
  box-shadow: 0 1px 4px 0 rgba(#333333, .3);
  &__row {
    height: 33px;
    border-bottom: 1px solid #e0e0e0;
    &-col {
      font-size: 16px;
      text-align: left;
      padding: 4px 12px;
      line-height: 16px;
      text-transform: uppercase;
      &-icon {
        height: 23px;
        color: #757575;
        font-size: 23px;
        line-height: 23px;
        border-radius: 100%; } } }
  &__cover,
  &__duration {
    vertical-align: middle;
    text-align: center;
    padding: 4px; }
  &__trackNumber {
    padding-left: 0;
    padding-right: 0;
    text-align: center; }
  &__album,
  &__genres,
  &__artists,
  &__released,
  &__remixers,
  &__duration {
    @media (max-width: 700px) {
      display: none; } } }
