@import "../../index.scss";

.Playlist {
  display: flex;
  margin-bottom: 10px;
  background-color: #ffffff;
  border-radius: $BORDER_RADIUS;
  box-shadow:
    0 3px 6px rgba(#000000, .16),
    0 3px 6px rgba(#000000, .23);
  &__cover {
    width: 200px;
    height: 200px;
    display: grid;
    grid-template-rows: 1fr 1fr; 
    grid-template-columns: 1fr 1fr;
    &-img {
      width: 100px;
      height: 100px; } }
  &__info {
    padding: $SPACE;
    font-size: 18rem; } }
