@import "../../globals/index.scss";

.Header {
  z-index: 4;
  width: 100vw;
  font-size: 16rem;
  position: relative;
  height: $HEADER_HEIGHT;
  background-color: #ffffff;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
  &__hamburger {
    outline: none;
    font-size: 48rem;
    padding: 6px 10px;
    line-height: 48rem; } }
