@import "../../globals/index.scss";

.Header {
  z-index: 4;
  width: 100vw;
  display: flex;
  font-size: 16rem;
  position: relative;
  height: $HEADER_HEIGHT;
  background-color: #ffffff;
  justify-content: space-between;
  box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
  &__icon,
  &__hamburger {
    outline: none;
    font-size: 48rem;
    padding: 6px 10px;
    line-height: 48rem; }
  &__link {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none; } }
  &__icon {
    margin: 8px;
    font-size: 36px;
    line-height: 36px;
    transition: .2s all;
    border-radius: 100%;
    text-decoration: none;
    padding: 3px 4px 5px 4px;
    &:hover {
      background-color: #e0e0e0; } }
  &__right {
    display: flex;
    align-items: center; }
  &__close {
    left: 0;
    z-index: 2;
    width: 100vw;
    cursor: pointer;
    font-size: 16rem;
    position: absolute;
    top: $HEADER_HEIGHT;
    height: calc(100vh - #{$HEADER_HEIGHT}); } }
