@import "../../globals/index.scss";

.Header {
  z-index: 4;
  width: 100vw;
  display: flex;
  font-size: 16rem;
  position: relative;
  height: $HEADER_HEIGHT;
  background-color: #fff;
  box-shadow: $BOX_SHADOW_LIGHT;
  justify-content: space-between;
  &__link {
    text-decoration: none;
    &:hover,
    &:focus {
      text-decoration: none; } }
  &__icon {
    margin: 6px;
    padding: 6px;
    font-size: 36px;
    line-height: 36px;
    color: $TEXT_COLOR;
    text-decoration: none; }
  &__hamburger {
    margin: 6px 10px; }
  &__right {
    display: flex;
    align-items: center;
    &-search {
      margin-right: 4px; } }
  &__close {
    left: 0;
    z-index: 2;
    width: 100vw;
    cursor: pointer;
    font-size: 16rem;
    position: absolute;
    top: $HEADER_HEIGHT;
    height: calc(100vh - #{$HEADER_HEIGHT}); } }
