@import "../../globals/index.scss";

.Header {
  position: relative;
  width: 100vw;
  height: $HEADER_HEIGHT;
  font-size: 16rem;
  border-bottom: 1px solid #e0e0e0;
  &__hamburger {
    font-size: 48rem;
    line-height: 48rem;
    outline: none;
    padding: 6px 10px; }
}
