.Cover {
  &:hover &__img {
    filter: blur(10px); }
  &:hover &__black-box {
    background-color: rgba(#000000, .8); }
  &:hover &__button {
    opacity: 1; }
  &__landscape {
    &::before {
      padding-top: 56.25%; } }
  &__black-box {
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    cursor: pointer;
    position: absolute;
    background-color: transparent; }
  &__button {
    z-index: 2;
    opacity: 0;
    padding: 0;
    width: 50%;
    height: 50%;
    position: absolute;
    align-items: center;
    transition: 3s ease-in;
    flex-direction: column;
    justify-content: center;
    background-color: transparent;
    transition-property: background-color, opacity;
    &:hover {
      background-color: rgba(#fff, .2) !important; }
    &:active {
      background-color: rgba(#fff, .4) !important; }
    &:nth-child(2) {
      top: 0;
      left: 0; }
    &:nth-child(3) {
      top: 0;
      right: 0; }
    &:nth-child(4) {
      left: 0;
      bottom: 0; }
    &:nth-child(5) {
      right: 0;
      bottom: 0; }
    &-icon,
    &-text {
      color: var(--text-color-white); }
    &-text {
      font-size: 18rem; }
    &-icon {
      --height: 35rem;
      margin: 0;
      width: var(--height);
      height: var(--height);
      font-size: var(--height);
      margin-bottom: calc(var(--space) * .25);
      &:hover {
        background-color: transparent !important; } } } }
