.Item {
  --gap: calc(var(--space) * 0.4);
  display: flex;
  align-items: center;
  &:hover &__info-text {
    width: calc(100% - var(--gap) - var(--button-size)); }
  &:hover &__info-in-lib {
    display: block; }
  &__play {
    --fix: -2rem;
    margin-left: var(--fix);
    margin-right: calc(var(--gap) + var(--fix)); }
  &__img-link {
    margin-right: var(--gap); }
  &__img {
    width: var(--info-height);
    height: var(--info-height); }
  &__info {
    width: 100%;
    display: flex;
    overflow-x: hidden;
    align-items: center;
    height: var(--info-height);
    &-text {
      width: 100%;
      &-upper,
      &-lower {
        margin: 0;
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis; }
      &-upper {
        font-weight: 700;
        font-size: 16rem; }
      &-lower {
        font-size: 15rem;
        margin-top: 4rem;  } } 
    &-in-lib {
      display: none;
      margin-top: 1px;
      margin-left: var(--gap);
      background-color: var(--color-elevated); } }
  &__left,
  &__right {
    font-size: 16rem; }
  &__left {
    min-width: 18rem;
    text-align: center;
    margin: 0 var(--gap) 0 calc(var(--gap) - 4rem); }
  &__right {
    margin-top: 2px;
    margin-left: var(--gap);
    color: var(--text-color-light); } }
