.Item {
	--gap: calc(var(--space) * 0.4);
	&:hover &__in-lib {
		display: block; }
	&__left {
		width: 18rem;
		text-align: center;
		white-space: nowrap;
		color: var(--text-color-light);
		margin: 2rem var(--gap) 0 calc(var(--gap) - 5rem); }
	&__play {
		--fix: -3px;
		margin-left: var(--fix);
		margin-right: calc(var(--gap) + var(--fix));
		@media (max-width: 800px) {
			display: none; } }
	&__img-link {
		margin-right: var(--gap); }
	&__img {
		width: var(--info-height);
		height: var(--info-height);
		@media (max-width: 800px) {
			border-radius: 100%; } }
	&__info {
		width: 100%;
		overflow-x: hidden;
		height: var(--info-height);
		justify-content: space-between;
		&-left {
			width: 100%;
			&-upper,
			&-lower {
				margin: 0;
				overflow: hidden;
				white-space: nowrap;
				text-overflow: ellipsis; }
			&-lower {
				margin-top: 4rem; } }
		&-right {
			margin-top: 2rem;
			white-space: nowrap;
			text-overflow: clip;
			color: var(--text-color-light);
			margin-right: var(--space-quart);
			@media (max-width: 800px) {
				display: none; } } }
	&__more {
		margin-right: -5px; } }