.Song {
  --gap: calc(var(--space) * .5);
  display: flex;
  align-items: center;
  flex-direction: row;
  &:hover &__info-text {
    width: calc(100% - var(--gap) - var(--button-size)); }
  &:hover &__info-add {
    display: block; }
  &__cover {
    width: 35px;
    height: 35px;
    margin-right: var(--gap);
    &-img {
      border-radius: var(--text-border-radius); } }
  &__info {
    width: 100%;
    &-add {
      margin-left: var(--gap); } } }
