@import "../../globals/index.scss";

.Song {
  width: 100%;
  display: flex;
  &__cover {
    width: 50px;
    height: 50px;
    margin-right: 10px;
    border-radius: $BORDER_RADIUS;
    box-shadow:
      0 3px 6px rgba(#000000, .16),
      0 3px 6px rgba(#000000, .23);
    &:hover {
      box-shadow:
        0 5px 8px rgba(#000000, .25),
        0 5px 8px rgba(#000000, .30); }
    &-img {
      border-radius: $BORDER_RADIUS; } }
  &__info {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    &-title {
      font-size: 19rem;
      font-weight: 700;
      line-height: 19rem;
      margin-bottom: 3px; }
    &-mix {
      color: #757575;
      font-weight: 400; }
    &-artists {
      font-size: 16rem;
      line-height: 16rem;
      margin-bottom: 8px; }
    &-progress {
      width: 100%;
      height: 4px;
      border-radius: 3px;
      background-color: #333333;
      box-shadow:
        0 3px 6px rgba(#000000, .16),
        0 3px 6px rgba(#000000, .23); } } }
