.FormSubmit {
  margin: 0;
  width: 100%;
  outline: none;
  cursor: pointer;
  padding: 16px 0;
  font-size: 20rem;
  border-radius: 3px;
  transition: .2s all;
  border: 1px solid #E0E0E0;
  background-color: transparent;
  &:hover {
    background-color: #EEEEEE; } }
