.FormSubmit {
  margin: 0;
  outline: none;
  padding: 13px;
  cursor: pointer;
  font-size: 18rem;
  border: 1px solid;
  border-radius: 3px;
  transition: .2s all;
  background-color: transparent;
  border-color: var(--border-color);
  @media (min-width: 582px) {
    font-size: 22rem; }
  &:hover {
    border-color: #9E9E9E; } }
