// import fonts
@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,400i,500,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

@import "./globals/index.scss";

*,
*:after,
*:before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  font-family: inherit;
  line-height: inherit;
  font-size: inherit;
  color: inherit;
}

html {
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, $FONT_FAMILY, sans-serif;
  line-height: $LINE_HEIGHT;
  font-size: $FONT_SIZE;
  color: $TEXT;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

#App {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  position: relative;
  font-size: 16rem;
}
