:root {
	--text-color: #333;
	--elevated-color: #fff;
	--hover-color: #eee;
	--button-hover-color: #e0e0e0;
	--text-color-white: #fff;
	--text-color-light: #757575;
	--background-color: #fafafa;

	--font-size: 1px;
	--font-family: "Roboto";

	--line-height: 1;
	--info-height: 35rem;
	--header-height: 60px;
	--player-height: 96px;
	--player-height-mobile: 120px;

	--sidebar-width: 300px;

	--border-radius: 5px;
	--border-color: #e0e0e0;

	--space: 20rem;

	--space-double: calc(var(--space) * 2);
	--space-one-half: calc(var(--space) * 1.5);
	--space-one-quart: calc(var(--space) * 1.25);
	--space-three-quart: calc(var(--space) * 0.75);
	--space-half: calc(var(--space) * 0.5);
	--space-quart: calc(var(--space) * 0.25);
	--space-fifth: calc(var(--space) * 0.2);

	--button-size: 27rem;

	--content-width: 100vw;

	--transition-duration: 0.2s;
}

html {
	box-sizing: border-box;
	color: var(--text-color);
	font-size: var(--font-size);
	font-family: var(--font-family);
	line-height: var(--line-height);
	-moz-osx-font-smoothing: grayscale;
	-webkit-font-smoothing: antialiased;
}

*,
*::after,
*::before {
	margin: 0;
	padding: 0;
	color: inherit;
	font-size: inherit;
	box-sizing: inherit;
	font-family: inherit;
	line-height: inherit; }

a {
	text-decoration: none;
	&:hover,
	&:focus,
	&:active {
		text-decoration: none; } }
