.AddList {
  --margin: calc(var(--space) * 0.125);
  display: flex;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: calc(var(--margin) * -1); }
  &__item {
    margin: var(--margin);
    box-sizing: content-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--elevated-color); }
  &__add {
    width: 18rem;
    height: 18rem;
    font-size: 18rem;
    margin-left: 3rem;
    margin-bottom: 1rem; } }
