.AddList {
  --margin: calc(var(--space) * 0.125);
  display: flex;
  &__inner {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    margin: calc(var(--margin) * -1); }
  &__item {
    margin: var(--margin);
    box-sizing: content-box;
    border-radius: var(--border-radius);
    border: 1px solid var(--border-color);
    background-color: var(--elevated-color); }
  &__add {
    margin-left: 3rem;
    margin-bottom: 1rem;
    padding: 2rem !important;
    background-color: transparent;
    border-radius: var(--border-radius);
    &-icon {
      width: 15rem;
      height: 15rem;
      font-size: 15rem;
      margin-right: 1rem; }
    &-text {
      font-size: 12rem;
      margin-top: 3rem;
      margin-right: 2rem;
      text-transform: uppercase; } } }
