@import "../../globals/index.scss";

.Queue {
  padding: 20px;
  &__section {
    padding: 10px 0;
    margin-bottom: 12px;
    background-color: #ffffff;
    border-radius: $BORDER_RADIUS;
    box-shadow: 0 2px 4px rgba(0,0,0, 0.1);
    &-text {
      color: #757575;
      font-size: 18rem;
      padding: 10px 20px; }
    &-song {
      cursor: pointer;
      padding: 10px 20px;
      transition: .2s all;
      &:hover {
        background-color: #EEEEEE; } } }
  &__song {
    margin-bottom: 12px;
    &:last-child {
      margin-bottom: 0; } } }
